<!DOCTYPE html>
<html>
<head>


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/pure-min.css" />
<script type="text/javascript" src="/static/jquery-3.2.1.min.js"></script>
    <title></title>
    <style type="text/css">
        div.pure-g {margin: 20 50px;padding: 0 20px;text-align: center;}
        div.pure-u* {margin: 30px 0;}
        .pure-u-1 p  button{text-align: left;}
        p.stem {text-align: left;}
    </style>
</head>
<body>
<div class="pure-g">
    {% if exam[0] == 'select' %}
    <script type="text/javascript">
        $(function () {
            $("#keya").click(function(){
                $("#key").val('A');
            });
            $("#keyb").click(function(){
                $("#key").val('B');
            });
            $("#keyc").click(function(){
                $("#key").val('C');
            });
        })
    </script>
    <div class="pure-u-1">
    <p class="stem">
    {{ exam[1] }}
    </p>
    </div>
    <div class="pure-u-1">
        <p>
        <button id="keya">
            {{exam[2]}}
        </button>
        </p>
    </div>
    <div class="pure-u-1">
    <p>
        <button id="keyb">
            {{exam[3]}}
        </button>
    </p>
    </div>
    <div class="pure-u-1">
    <p>
        <button id="keyc">
        {{exam[4]}}
        </button>
    </p>
    </div>
    <div class="pure-u-1">
    <p>
        <form action="/hc">
        <input type="hidden" id="key" name="key" value=""/>
        <input type="hidden" id="rkey" name="rkey" value="{{exam[6]}}"/>
        <button type="submit">
            submit
        </button>
        </form>
    </p>
    </div>
    {% else %}
    <script type="text/javascript">
        $(function () {
            $("#keya").click(function(){
                $("#key").val('Y');
            });
            $("#keyb").click(function(){
                $("#key").val('N');
            });
        })
    </script>
    <div class="pure-u-1">
    <p class="stem">
    {{ exam[1] }}
    </p>
    </div>
    <div class="pure-u-1">
        <p>
        <button id="keya">
            正确
        </button>
        </p>
    </div>
    <div class="pure-u-1">
    <p>
        <button id="keyb">
            错误
        </button>
    </p>
    </div>
    <div class="pure-u-1">
    <p>
        <form action="/hc">
        <input type="hidden" id="key" name="key" value=""/>
        <input type="hidden" id="rkey" name="rkey" value="{{exam[2]}}"/>
        <button type="submit">
            submit
        </button>
        </form>
    </p>
    </div>

    {%endif%}
</div>
</body>
</html>